@media only screen and (min-width: 1158px) {
  /* #region Variables */
  :root {
    /* Others */
    --items: 4;
    --col-indent: 24px;
    --row-indent: 48px;
  }
  /* #endregion */

  /* #region Common */
  .container {
    max-width: 1128px;
  }

  .section-container {
    padding: 120px 0;
  }
  /* #endregion */

  /* #region Header */
  .nav {
    gap: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* #endregion */

  /* #region Services */
  .service-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background: var(--cloud);
    margin-bottom: 8px;
  }

  .service-item-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .service-item-text {
    font-weight: 400;
  }

  /* #endregion */

  /* #region Team */
  .team .container {
    max-width: 1128px;
  }
  /* #endregion */

  /* #region Portfolio */
  .portfolio {
    --items: 3;
  }

  .portfolio-item {
    box-shadow: none;
  }
  /* #endregion */

  /* #region Footer */
  .footer.section-container {
    padding: 100px 0;
  }

  .footer .container {
    justify-items: start;
    justify-content: space-around;
    column-gap: 80px;
  }

  .footer-logo-container {
    margin-right: 40px;
    align-items: start;
  }

  .footer-socials-container {
    align-items: start;
  }

  .footer-form-input {
    opacity: 1;
  }
  /* #endregion */
}
