@media only screen and (min-width: 768px) {
  /* #region Variables */
  :root {
    /* Others */
    --items: 2;
    --col-indent: 24px;
    --row-indent: 72px;
  }
  /* #endregion */

  /* #region Common */
  .container {
    max-width: 736px;
  }

  .section-container {
    padding: 96px 0;
  }
  /* #endregion */

  /* #region Header */
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav {
    gap: 120px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    transition: color var(--transition-time) var(--transition-timing-function);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--accent-color);
  }

  .nav-link.active {
    color: var(--accent-color);
  }

  .nav-link.active::after {
    position: absolute;
    top: calc(100% - 4px);
    bottom: -1px;
    content: "";

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .contacts {
    display: block;
  }

  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    padding: 0;
  }

  .menu-toggle {
    display: none;
  }
  /* #endregion */

  /* #region Hero */
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  /* #endregion */

  /* #region Services */
  .service-item-title {
    text-align: start;
  }

  /* #endregion */

  /* #region Team */
  .team .container {
    max-width: 552px;
  }
  /* #endregion */

  /* #region Footer */
  .footer.section-container {
    padding: 96px 108px;
  }

  .footer .container {
    flex-direction: row;
    justify-items: start;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer-form-container {
    align-items: start;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  /* #endregion */

  /* #region Modal */
  .modal {
    padding: 72px 24px 24px 24px;

    width: 408px;
    max-width: 408px;
    min-height: 584px;
  }
  /* #endregion */
}
